#rodape{
    width: 100%;
    height: 300px;
    position: relative;
    top: 70px;
    background: #EBB000;
}
.container-tudo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.make-dev{
    width: 100%;
    background-color: #8B5B8F;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.container-rodapeMenu{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodapeMenu{
    position: relative;
    left: 0%;
    justify-content: center;
}
.rodapeMenu a{
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    transition: 0.5s;
    color: #fff;
    position: relative;
}
.rodapeMenu h3{
    color: #2d0231;
}
.rodapeMenu a:hover{
    color: #CC5F1A;
}
.rodapeContato{
    background-color: #8B5B8F;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 40%;
    padding-right: 40%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 5px;
}
.container-menu{
    margin-top: -10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.icone-footer{
    font-size: 35px;
    transition: 0.5s;
}
@media(max-width: 780px){
    .rodapeMenu{
        height: 50%;
        width: 100%;
        display: block;
        justify-content: none;
        padding-left: 5%;
        padding-right: 0%;
    }
    .rodapeMenu a{
        font-size: 20px;
        transition: 0.5s;
        color: #fff;
        position: relative;
    }
    .rodapeContato{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-left: 20%;
        padding-right: 20%;
    }
}