.comoFunciona{
    width: 100%;
    height: 600px;
    position: relative;
    top: 90px;
    background-image: linear-gradient(to right,#cdffd8, #94b9ff);
    justify-content: space-around;
    text-align: justify;
    display: flex;
}
.comoFunciona h1{
    text-align: center;
    color: #CC5F1A;
    font-size: 60px;
    margin-bottom: 15px;
}
.conteudoComoFunciona{
    width: 100%;
    height: 500px;
    padding-left: 10px;
    padding-top: 15px;
}
.conteudoComoFunciona p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 100px;
}
.iconesComoFunciona{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 5%;
}
/*
.iconeSeta{
    width: 60px;
    height: 50px;
    position: relative;
    top: 20%;
}*/
.iconesComoFunciona p{
    font-size: 18px;
}
.primeiraEtapa h3{
    margin-bottom: 10px;
}
.segundaEtapa h3{
    margin-bottom: 10px;
}
.terceiraEtapa h3{
    margin-bottom: 10px;
}
.quartaEtapa h3{
    margin-bottom: 10px;
}
.icone{
    font-size: 44px;
}
.seta{
    font-size: 44px;
}
@media (max-width: 768px) {
    .comoFunciona{
        width: 100%;
        height: 1150px;
        position: relative;
        top: 90px;
        background-image: linear-gradient(to right,#cdffd8, #94b9ff);
        justify-content: space-around;
        text-align: justify;
        display: flex;
    }
    .iconesComoFunciona{
        width: 90%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
    }
    #remove-set{
        display: none;
    }
    .terceiraEtapa{
        width: 100px;
        height: 100px;
    }
    .quartaEtapa{
        width: 200px;
        height: 100px;
    }
  }
