.divForms{
    width: 50%;
    height: 95%;
    position: relative;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
}
.divForms form{
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
}
.divForms input{
    margin-bottom: 25px;
    border: none;
}
.tag{
    color: #ff0000;
}