.container-cadastro{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/bg-login.jpg);
    position: absolute;
    top: 20px;
}
.form-cadastro{
    width: 800px;
    height: 560px;
    background: #313338;
    border-radius: 5px;
    position: relative;
    top: 10px;
}
.container-form-cadastro{
    width: 100%;
    height: 100%;
}
.cadastro-title{
    width: 100%;
    height: 15%;
    padding: 20px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}
.cadastro-title h1{
    font-weight: normal;
    font-size: 26px;
}
.cadastro-title p{
    color: rgb(135, 135, 135);
    font-size: 14px;
}
.input-label-cadastro{
    color: rgb(181, 181, 181);
}
.cadastro-form-input-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}
.cadastro-form-input input{
    width: 100%;
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    outline: 0px;
}
.form-cadastro form a{
    text-decoration: none;
    color: #CC5F1A;
}
.dados{
    width: 45%;
}
.endereco{
    width: 45%;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: space-arround;
    padding: 0px 15px 0px 15px;
}
.bt-enviar, .bt-juri{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bt-enviar, .bt-juri a{
    text-decoration: none;
    color: #CC5F1A;
}
.botao-cadastro{
    background-color: #CC5F1A;
    cursor: pointer;
    color: #fff;
    width: 80%;
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0px 5px 0px;
    font-size: 17px;
    outline: 0px;
    transition: 0.4s;
}
.botao-cadastro:hover{
    background-color: #f46105;
    font-size: 18px;
}
.register-p{
    color: rgb(181, 181, 181);
}
